@charset "UTF-8";

html {
   font-size: 100%;
 }
 body {
   color: #24292e;
 }
 a {
   text-decoration: none;
 }
 img {
   max-width: 100%;
 }
 li {
   list-style: none;
 }
header{
   max-width: 960px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding: 0 4%;
   align-items: center;
   height: 260px;
}

header ul{
   display: flex;
   align-items: center;
}

header li{
   padding: 0 4px;
}

header li a{
   color: #24292e;
}

header li a:hover{
   opacity: 0.7;
}


header li img{
   width: 30px;
}

.mainvisual{
   height: 420px;
}

.container{
   max-width: 960px;
   margin: 0 auto;
   padding: 0 4%;
   align-items: center;
   margin-bottom: 130px;
}

.section-title{
   margin: 0 auto;
   padding: 0 4%;
   align-items: center;
   text-align: center;
   margin-bottom: 65px;
}

.txt-title{
   margin-bottom: 30px;
}

.profile{
   margin-bottom: 30px;
}
 

.images ul{
   display: flex; /* flexbox */
   justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.images li{
   width: 31%;
   margin-bottom: 23px;
}

.border{
   border-bottom: solid 1px #24292e;
   width: 100%;
}

.News-contents{
   display: flex;
   justify-content: space-around;
}

.Contact{
   display: flex;
  flex-direction: column;
}

.form{
   display: flex;
   justify-content: space-around;
}

.form p{
   margin-top: 5px;
}

.NAME{
   width: 76%;
   margin-bottom: 10px;
   border: solid 1px #c8c8c8;
   padding: 0;
    line-height: 28px;
    height: 43px;
}

.textarea{
   width: 76%;
   border: solid 1px #c8c8c8;
   padding: 0;
    line-height: 28px;
    height: 100px;
} 

.form p {
   flex-basis: 10%;
   margin-top: 5px;
}

@media screen and (max-width:600px) {
   header{}
   }